img{
    width: 65%;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.Vdior{
    width: 85%;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

body{
    background-color: black;
}